lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules

graphql.config.json
.graphqlrc
.tsgrc
.idea
.githubtoken
.jekyll-metadata
.yarnclean

/vendor
/build
