<div class="controls" id="controls">
  <div class="controls__inner">
    <div class="controls__group">
      <button class="button color" id="button-color">
        <div class="button__icon">{% include "partials/vectors/color.svg" %}</div>
        <div class="button__text">Change Color</div>
      </button>
      <button class="button objects" id="button-objects">
        <div class="button__icon">{% include "partials/vectors/objects.svg" %}</div>
        <div class="button__text">Change Objects</div>
      </button>
      <button class="button text" id="button-text">
        <div class="button__icon">{% include "partials/vectors/text.svg" %}</div>
        <div class="button__text">Change Text</div>
      </button>
    </div>
    <div class="controls__group">
      <button class="button--share" id="permalink">
        <div class="button__icon">{% include "partials/vectors/share.svg" %}</div>
        <div class="button__text">Share</div>
      </button>
    </div>
  </div>
</div>
