{% set socialGlobal = site.social %}

{% if page.social.title %}
  <title>{{ socialGlobal.name }} | {{ page.social.title }}</title>
  {% elif page.title %}
  <title>{{ socialGlobal.name }} | {{ page.title }}</title>
  {% elif socialGlobal.name %}
  <title>{{ socialGlobal.name }}</title>
{% endif %}

{% if page.social.description %}
  <meta name="description" content="{{ page.social.description }}">
  <meta property="og:description" content="{{ page.social.description }}">
{% elif socialGlobal.description %}
  <meta name="description" content="{{ socialGlobal.description }}">
  <meta property="og:description" content="{{ socialGlobal.sdescription }}">
{% endif %}

{% if socialGlobal.url and page._contentTypeName %}
  {% set path = page | route(page._contentTypeName) %}
  {% set canonicalUrl = socialGlobal.url + path %}

  <link rel="canonical" href="{{ canonicalUrl }}">

  <meta property="og:url" content="{{ canonicalUrl }}">
{% endif %}

{% if socialGlobal.name %}
  <meta property="og:site_name" content="{{ socialGlobal.name }}">
{% endif %}

{% if page.social.image %}
  <meta property="og:image" content="{{ page.social.image.s3Key | image }}">
{% elif socialGlobal.image %}
  <meta property="og:image" content="{{ socialGlobal.image.s3Key | image }}">
{% endif %}

<meta name="twitter:card" content="summary_large_image">

{% if socialGlobal.twitter.site %}
  <meta name="twitter:site" content="{{ socialGlobal.twitter.site }}">
{% endif %}

{% if socialGlobal.twitter.creator %}
  <meta name="twitter:creator" content="{{ socialGlobal.twitter.creator }}">
{% endif %}

{% if socialGlobal.facebookAppId %}
  <meta property="fb:app_id" content="{{ socialGlobal.facebookAppId }}">
{% endif %}
