<!doctype html>
<html>
  <head>
    {% include "partials/head.html" %}
    {% block extra_head %}{% endblock %}

    {# Favicons from Webpack favicon generator #}
    {% for element in global.favicon.html %}
      {{ element | replace('/favicon-', '/assets/favicon-') | safe }}
    {% endfor %}

  </head>
  <body class="{% block body_class %}body{% endblock %}">
  <div id="info" style="position: absolute; top: 0; left: 0;">
    <a id="permalink" href="#">copy permalink</a>
  </div>

    {% include "partials/scripts.html" %}
  </body>
</html>
